{%extends "blog/base.html"%}
{% load blog_tags %}
{%block title%}{{post.titulo}}{% endblock %}
{%block content%}
    <h2>
        {{post.titulo}}
    </h2>
    <p class="date">
        publicacion {{post.publicacion}} echa por {{post.autor}}
    </p>
    {{post.cuerpo| markdown }}
    <p>
        <a href="{% url 'blog:post_share' post.id%}">
            share this post
        </a>
    </p>
    
    <h2>Post similares</h2>
    {% for post in similar_post %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.titulo }}</a>
        </p>
        {%empty%}
            No hay otros post relacionados
    {% endfor %}
            
    {% with comentarios.count as total_comentarios %}
        <h2>
            {{total_comentarios}}comentario{{total_comentarios| pluralize}}
        </h2>
    {% endwith %}
    
    {% for comentario in comentarios %}
        <div class= "comment">
            <p class="info">
                Comentario{{forloop.counter}} de {{comentario.nombre}}
                {{comentario.creacion}}
            </p>
            {{comentario.cuerpo| linebreaks}}
        </div>
        {%empty%}
            <p>No hay comentarios</p>        
    {% endfor %}
    {% include 'blog/post/includes/comentario_form.html' %}       
{%endblock %}